@import url('https://fonts.googleapis.com/css?family=Muli:300,900');

.info-field {
    margin-top: 2vh;
    margin-left: 25vh;
    background: rgba(255, 255, 255, 0.63);
    width: 80%;
    height: 90%;
    padding: 1vw;
}

.columns {
    columns: 250px 3;
    column-rule: 1px dotted #ccc;
    column-gap: 3em;
  }

p {
    font-family: 'Orelega One', cursive;
    font-size: 20pt;
}

h3 {
    font-family: 'Orelega One', cursive;
}

.intro {
    column-span: all;
    text-align: center;
 }
 @media screen and (max-width: 1900px) {
     p {
         font-size: 10pt;
     }

     h3 {
        font-family: 'Orelega One', cursive;
    }

     .info-field {
         margin-left: 10vh;
         height: 91%;
     }
     .columns {
         columns: 120px 3;

     }
 }